#RandomExcerpts { position:relative; overflow: hidden; height: auto; }
#RandomExcerpts p { font-style: italic; z-index:5; display: none; padding: 5px 0 0; height: auto; }
#RandomExcerpts p span.testimonial-title { font-size: 10px; display: block; margin-top: 8px; }
#RandomExcerpts p.active { z-index:10; display: block; }
#RandomExcerpts #duration { display: none; }
