.RandomExcerpts p { font-style: italic; z-index:5; display: none; padding: 5px 0 0; font-size: 100%; }
.RandomExcerpts p span.testimonial-title { font-size: 0.75em; display: block; margin-top: 8px; }
.RandomExcerpts p.active { z-index:10; }